/* Réinitialisation CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white; /* Couleur de fond de la container */
}

.form-container {
    background-color: #8e44ad; /* Couleur de fond du formulaire */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1 {
    font-size: 24px;
    color: white; /* Couleur du texte */
    margin-bottom: 20px;
}

span {
    display: block;
    margin-bottom: 15px;
    color: white; /* Couleur du texte */
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #6c3483; /* Couleur du bouton */
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #542b7c; /* Couleur du bouton au survol */
}

/* Animation pour les inputs */
input[type="email"],
input[type="password"] {
    transition: background-color 0.3s ease;
}

input[type="email"]:focus,
input[type="password"]:focus {
    background-color: #bdc3c7; /* Couleur de fond au focus */
}

/* Animation pour le formulaire */
.form-container {
    animation: slideIn 1s ease;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
